.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .step-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #667AC1;
    &.done {
      background-color: #07c493;
    }
    &.current {
      background-color: #fff;
    }
  }
  .step-line {
    flex-grow: 1;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #667AC1;
    &.done {
      background-color: #07c493;
    }
  }
}